<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<body class="container">

<h1>Create Event</h1>

<div class="header" th:fragment="header">

    <form method="post">
        <th:block th:each="event : ${events}">
            <div class="form-group">
                <label>
                    <span th:text="${event.name}"></span>
                    <input type="checkbox" name="eventName" th:value="${event.name}" class="form-control">
                </label>
            </div>
        </th:block>

        <input type="submit" value="Delete" class="btn btn-danger">
    </form>

</div>

</body>
</html>